@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Neutral Colors */
  --color-light-50: #0d0c0e;
  --color-light-100: #141316;
  --color-light-200: #201d24;
  --color-light-300: #312e36;
  --color-light-400: #4b4653;
  --color-light-500: #645c70;
  --color-light-600: #7d738c;
  --color-light-700: #9791a1;
  --color-light-800: #b6b0bf;
  --color-light-900: #efedf1;

  /* Primary Colors */
  --color-primary-40: #100c16;
  --color-primary-50: #100c17;
  --color-primary-100: #15101e;
  --color-primary-150: #15101f;
  --color-primary-200: #1e162c;
  --color-primary-250: #1e152b;
  --color-primary-300: #2f2244;
  --color-primary-400: #443361;
  --color-primary-500: #5c487f;
  --color-primary-600: #78619e;
  --color-primary-700: #9381b1;
  --color-primary-800: #b4a9c6;
  --color-primary-900: #e1dcea;

  /* Secondary Colors */
  --color-secondary-50: #120f0c;
  --color-secondary-100: #1c1712;
  --color-secondary-200: #292119;
  --color-secondary-300: #423324;
  --color-secondary-400: #634a31;
  --color-secondary-500: #89633e;
  --color-secondary-600: #b4804b;
  --color-secondary-700: #c69a71;
  --color-secondary-800: #d2b9a2;
  --color-secondary-900: #ebe0d6;

  /* Red */
  --color-red-50: #2f1d1d;
  --color-red-100: #492a2a;
  --color-red-200: #6c3333;
  --color-red-300: #933939;
  --color-red-400: #b33737;
  --color-red-500: #d54d4d;
  --color-red-600: #e46767;
  --color-red-700: #f98080;
  --color-red-800: #f8b4b4;
  --color-red-900: #fde8e8;

  /* Green */
  --color-green-50: #2b3631;
  --color-green-100: #30433b;
  --color-green-200: #36594b;
  --color-green-300: #396a57;
  --color-green-400: #3b8168;
  --color-green-500: #3c9676;
  --color-green-600: #3bb18c;
  --color-green-700: #5ec9a8;
  --color-green-800: #9dddc8;
  --color-green-900: #d9f2e9;

  /* Yellow */
  --color-yellow-50: #353221;
  --color-yellow-100: #49442a;
  --color-yellow-200: #6f6334;
  --color-yellow-300: #9a833c;
  --color-yellow-400: #c4a140;
  --color-yellow-500: #d8b45f;
  --color-yellow-600: #e8c87d;
  --color-yellow-700: #f4d99f;
  --color-yellow-800: #fbedcb;
  --color-yellow-900: #fef7e6;

  --color-dark: #090b0a;
  --color-light-overlay-50: #ffffff0d;
  --color-light-overlay-100: #ffffff1a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0910;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.mobile-drawer {
  width: 100vw !important;
  height: calc(100vh - 70px) !important;
  background: var(--color-primary-50) !important;
  overflow: hidden !important;
  margin-top: 70px !important;
  padding: 20px 30px !important;
}

.drawer {
  width: 100vw !important;
  background: transparent !important;
}

.product-currency {
  background: var(--color-primary-40) !important;
  border: 1px solid var(--color-primary-500) !important;
}

.product-currency ul {
  padding: 1px 10px !important;
}

.product-currency-item {
  padding: 14px 16px !important;
}

.products-subscription-table {
  padding: 0 !important;
  background: transparent !important;
}

#phone-number .PhoneInput {
  padding: 7px 15px !important;
  border: 1px solid var(--color-light-400) !important;
  border-radius: 7px;
  background: var(--color-dark) !important;
  width: 100% !important;
  font-weight: 700;
  color: var(--color-light-900) !important;
}

#phone-number .PhoneInput:hover {
  border: 1px solid var(--color-primary-500) !important;
}

#phone-number input {
  background: var(--color-dark) !important;
  border: unset !important;
  color: var(--color-light-900) !important;
}

.PhoneInput .PhoneInput--focus input:focus,
.PhoneInput .PhoneInput--focus input,
.PhoneInput--focus,
.PhoneInputInput,
.PhoneInputInput:focus {
  border: unset !important;
}

#phone-number input:hover,
#phone-number input:focus {
  border: unset !important;
}

.PhoneInputInput::placeholder {
  color: var(--color-light-500) !important;
  font-weight: 600;
}

.PhoneInputInput {
  height: 34px !important;
  border: unset !important;
}

#phone-number .PhoneInputCountry {
  outline: none;
}

.PhoneInputCountryIcon {
  color: var(--color-light-900) !important;
  outline: none;
}

@media (max-width: 639.98px) {
  .products-table {
    padding: 0 !important;
  }
}

@media (max-width: 1023.98px) {
  .payment-page {
    height: calc(100vh - 50px) !important;
    margin-top: 80px !important;
  }
}

@media (min-width: 640px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  .drawer {
    width: 70vw !important;
    padding: 20px !important;
  }
}

@media (min-width: 1024px) and (max-width: 1279.98px) {
  #auth-section {
    background: url('/img/auth-bg.svg');
  }

  .drawer {
    width: 600px !important;
    padding: 20px !important;
  }
}

@media (min-width: 1280px) and (max-width: 1535.98px) {
  #auth-section {
    background: url('/img/auth-bg.svg');
  }

  .drawer {
    width: 625px !important;
    padding: 20px !important;
  }
}

@media (min-width: 1536px) {
  #auth-section {
    background: url('/img/auth-bg.svg');
  }

  .drawer {
    width: 750px !important;
    padding: 20px !important;
  }
}

input[type='tel'],
input[type='tel']:focus,
input[type='tel']:hover {
  border: 0px !important;
  outline: none !important;
}

.calendar-input {
  background: var(--color-primary-40) !important;
  border: unset !important;
  color: var(--color-light-900) !important;
  font-weight: 600;
}

.calendar-input .react-calendar__navigation__arrow:hover,
.calendar-input .react-calendar__navigation__next-button:hover,
.react-calendar__tile:hover {
  background: var(--color-primary-40) !important;
  color: var(--color-light-900) !important;
}

.calendar-input .react-calendar__navigation__label,
.calendar-input .react-calendar__navigation__next-button,
.calendar-input .react-calendar__navigation__next2-button {
  background: transparent !important;
}

.react-calendar__tile:disabled {
  background: var(--color-primary-40) !important;
  color: var(--color-light-300) !important;
}

.react-calendar__navigation button:disabled,
.react-calendar__navigation button:disabled:hover {
  background: var(--color-primary-40) !important;
  color: var(--color-light-300) !important;
}

.react-calendar__tile--now {
  background: var(--color-dark) !important;
  color: var(--color-light-800) !important;
}

.react-calendar__tile--active {
  background: var(--color-primary-400) !important;
  color: var(--color-light-900) !important;
}

.react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from {
  font-weight: 600;
}

.react-json-view {
  background: transparent !important;
  background-color: transparent !important;
}
